/* GENERAL */

.hide {
	display: none;
}

.underslider {
	background-color: #fefedc;
	border-top: none;
	border-bottom: none;
}

.middlecolumn p {
	color: #fff;
	text-align: center;
}

.bulleted > ul li, ol li {
	list-style-type: disc;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 5px;
	list-style-position: inside;
}

.ch-item4.specialimg1{
	background-image: url(../images/painting1.jpg);
}


/* INDEX */
#appointments-img {
	background: url(../images/orchid.jpg) center center no-repeat;
	margin: 0 auto 0 auto;
}

/* ABOUT */
.leftabout1 {
	border-bottom: none !important;
}

#linda-photo {

}

#tracy-photo{
	background-image: url(../images/bios/tracy.jpg);
}

#britt-photo {
	background-image: url(../images/bios/britt.jpg);
}

#anne-photo {
	background-image: url(../images/bios/anne.jpg);
}

/* HEADER */

.ch-grid1 .ch-item.ch-img-1 {
	background-image: url(../images/painting1sm.jpg)
}

.ch-grid1 .ch-item.ch-img-2 {
	background-image: url(../images/painting2sm.jpg)
}

.ch-grid1 .ch-item.ch-img-3 {
	background-image: url(../images/bamboo1sm.jpg)
}

/* FOOTER */

.footer li, .footer p, .footer li h4 {
	color: #fff;
}
.footer .testimonialbg li{
	font-family:open sans;
	font-size:16px;
}

.footer li h4 {
	font-size: 18px;
	display: inline-block;
	line-height:1.1;
	margin: 5px 0;
	font-weight: lighter;
}

.footer ul, ol {
	margin: 0 0 10px 0;
}

.mapcircle-sm {
width:350px;
height:250px;
margin:0;
background: url(../images/map-square-sm.png) center center no-repeat;
border:#f2f2d6 solid 5px;
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;

}


.testimonial{
margin-bottom:21px;
border-bottom:1px dashed #f9c68a;
}
.testimonialname {
text-align:right;
margin-right:40px;
font-style:italic;
font-size:13px;
line-height:1;
margin-top:-10px;
}


.testimonialbg
{padding:10px;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
	position: relative;
	height: auto;

	background-color:rgba(255,255,255, 0.2);

}

.testimonialbg:before
{
	content: none !important;
	position: absolute;
	width: 0;
	height: 0;
	right: 20px;
	top: 100%;
	border-width: 16px 14px 8px 0 ;
	border-style:solid;
	border-color: rgba(255,255,255, 0.2) transparent  transparent rgba(255,255,255, 0.2);
-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;

}
